@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&family=Roboto:wght@400;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  /* font-family: 'Poppins', sans-serif; */
  font-family: "Roboto", sans-serif;
  color: #b9bbbd;
  font-size: 100%;
  /* background-color: #161B22; */
  background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#000000),
      to(#3f3f3f)
    )
    no-repeat;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 24px;
}

.cabecalho-imagem {
  height: 70px;
  border-radius: 5px;
}

.cabecalho-menu {
  display: flex;
  gap: 25px;
}

.cabecalho-menu-item {
  color: #b9bbbd;
  font-size: 25px;
}

.conteudo {
  margin-bottom: 48px;
  border-top: 0.4px solid #b9bbbd;
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.conteudo-principal-escrito-titulo {
  font-size: 64px;
}

.conteudo-principal-escrito-subtitulo {
  color: 24px;
}

.conteudo-principal-escrito-botao {
  background-color: #b9bbbd;
  width: 180px;
  height: 60px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-weight: 500;
  font-size: 20px;
  color: #2f2325;
}

.conteudo-principal-escrito-botao-link {
    color: #2f2325;
  }

.conteudo-principal-escrito-botao:hover {
  background-color: #707070;
  cursor: pointer;
}

.conteudo-principal-imagem {
  height: 400px;
}

.conteudo-secundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
}

.conteudo-secundario-titulo {
  border-top: 0.4px solid #b9bbbd;
  padding-top: 48px;
  font-weight: 800;
  font-size: 24px;
  margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
  font-size: 18px;
}

.rodape {
  padding: 32px;
  border-top: 0.4px solid #b9bbbd;
}

.rodape-imagem {
  height: 48px;
  display: block;
  margin: 0 auto;
}
